<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Details Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Employee Details Form</h1>
<form action="#" th:action="@{/employeeForm}" th:object="${employee}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Salary: <input type="text" th:field="*{salary}" /></p>
    <p><input type="submit" value="Submit" /><input type="reset" value="Reset" /></p>
</form>
</body>
</html>